<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coding4Fun.Phone.Controls.Complete" version="1.5.1" />
  <package id="Newtonsoft.Json" version="4.0.7" />
  <package id="SignalR.Client.WP7" version="0.4.0.0" />
  <package id="SilverlightToolkitWP" version="4.2011.12.13" />
  <package id="System.Threading.Tasks" version="2.1.2" />
</packages>