<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coding4Fun.Phone.Controls.Complete" version="1.5.6" targetFramework="sl40-wp71" />
  <package id="Newtonsoft.Json" version="4.5.7" />
  <package id="SignalR.Client.WP7" version="0.5.2" />
  <package id="SilverlightToolkitWP" version="4.2012.6.25" targetFramework="sl40-wp71" />
  <package id="System.Threading.Tasks" version="3.0.1" />
</packages>